.card {
  background-color: #0f7c85;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: 15;
  margin-right: 15px;
  color: white;
  border: 3px solid #7b9948;
  text-align: center;
  width: 250px;
  height: 300px;
}

.card .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardContainer {
  padding: 2px 16px;
  line-height: 0.5;
}

.cardContainer h3 {
  line-height: 1.2;
}

.characterImg {
  border-radius: 50%;
  margin-top: -50px;
  width: 200px;
  height: 200px;
  max-width: 100%;
  height: auto;
}

.characterSpecies {
  font-weight: 100;
  margin-left: 8px;
}
.circleAlive {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  background: greenyellow;
}

.circleDead {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  background: red;
}

.circleUnknown {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgb(99, 190, 223);
}
.speciesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.speciesContainer p {
  line-height: 0.5;
  margin-block-start: 0;
  margin-block-end: 0;
}

.characterOrigin {
  line-height: 1.1;
}
