/* .inputField {
  display: flex;
  width: 100%;
  cursor: pointer;
} */

.inputField {
  cursor: pointer;
  margin-left: 40px;
}

.form {
  margin-left: 30px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  box-shadow: 0px 0px 8px #ddd;
  border: none;
}

input {
  width: 90%;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 20px;
  border-radius: 10px;
}

/* input:focus {
  outline: none;
} */

/* .form {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
  border: 1px solid white;
} */

/* probando cosas */
/* .inputWrapper {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
  border: 1px solid red;
} */

/* input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 90%;
  margin-left: 5px;
} */
